body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:46px;
    top:20px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:746px;
    top:20px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:396px;
    top:20px;
    width:40px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../第11集_下拉菜单联动_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:800px;
    height:3px;
}

.u3 {
    position:absolute;
    left:10px;
    top:40px;
    width:800px;
    height:10px;
    
}

.u4_normal {
    background-image: url('../第11集_下拉菜单联动_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:410px;
    top:70px;
    width:409px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:410px;
    top:100px;
    width:410px;
    height:200px;
    ;
    background-color:#D7D7D7;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:20px;
    top:80px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u8 {
    position:absolute;
    left:200px;
    top:80px;
    width:121px;
    height:31px;
    overflow:hidden;
}

#pd2u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:31px;
    
}

.u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:31px;
    
}

.u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:31px;
    
}

.u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:30px;
    top:146px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

