* html .u3_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="第11集_下拉菜单联动_files/u3_line.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="第11集_下拉菜单联动_files/u4_normal.png");
}

